@page
@model IndexModel
@using FamilyRecipes.Models;
@{
    ViewData["Title"] = "Family Recipes";
}
<script>

</script>
<div class="bg-trees_sun">
    <div class="bg-trees_base">
        <div class="bg-trees_left">
            <div class="bg-trees_right">
                <div class="scrollinside pop max80 text-center">
                    <br />
                    <div class="f-h1 t-neonpink">Family Recipes<br />DELUXE</div>
                    <br />
                    <div class="card1 card-color2 card-shadow_large glass">
                        <div class="f-h3 t-electricblue_pop">
                            <p>Welcome to the Family Recipes</p>
                            <p>This is the first part of the FamilySystem</p>
                            <p>which will get additional modules soon.</p>
                            <p>For now there is the recipe bank which will hold</p>
                            <p>all of your favorite recipes, features in progress</p>
                            <p>includes internal users under main account, ratings</p>
                            <p>top lists and conversions.</p>
                        </div>
                    </div>
                    <br />
                    <br />
                    <partial name="_ElectricityPricePartial">
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>