@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    List<Models.Unit> units = Model.Units;
    int numberOfUnits = 999;
    List<Models.Unit> firstUnits = new List<Models.Unit>();
    if (units.Count > numberOfUnits)
    {
        firstUnits = units.Take(numberOfUnits).ToList();
    }
    else
    {
        firstUnits = units.ToList();
    }
}

<div class="bg-trees_sun">
    <div class="bg-trees_base">
        <div class="bg-trees_left">
            <div class="bg-trees_right">
                <div class="scrollinside pop max80 text-center">
                    <br />
                    <div class="f-h1 t-neonpink">Family Recipes<br />DELUXE</div>
                    <br />
                    <br />
                    <div class="card1 card-color2 card-shadow_large glass">
                        @foreach (Models.Unit u in firstUnits)
                        {
                            if (u.IsMetrical)
                            {
                                <p class="f-p t-gld">The unit @u.Name is awesome! It's Metrical!</p>
                            }
                            if (!u.IsMetrical)
                            {
                                <p class="f-p t-darkxmas">The unit @u.Name is not awesome!</p>
                            }
                        }
                        <br />
                    </div>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>