@page
@model FamilyRecipes.Pages.SamplesModel
@{
}
<div class="scrollinside max80 footerspacer">
    <div class="text-center">
        <br />
        <div class="f-h1 t-neonpink">Samples</div>
        <br />
        <a href="https://learn.microsoft.com/aspnet/core">I am a link!</a>

        <div class="f-h1 t-neonpink">size: f-h1 - color: t-neonpink</div>
        <div class="f-h1 t-goldy">f-h1 t-goldy</div>
        <div class="f-h1 t-pinky">f-h1 t-pinky</div>
        <div class="f-p t-gld">f-p t-gld</div>
    </div>
    <br />
</div>