<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="darkreader-lock">
    <title>@ViewData["Title"] - FamilyRecipes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/FamilyRecipes.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/family.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/backgrounds.css" asp-append-version="true" />

</head>
<body class="main-bg">
    <header class="nav-bg">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light nav-bg border-bottom box-shadow">
            <div class="container">
                <a class="navbar-branded" asp-area="" asp-page="/Index">FamilyRecipes</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between navcolors">
                    <ul class="navbar-nav flex-grow-1 navcolors">
                        <li class="nav-item navcolors">
                            <a class="f-nav-link navcolors text-nowrap" asp-area="" asp-page="/Recipes">Recipes</a>
                        </li>
                        <li class="nav-item navcolors">
                            <a class="f-nav-link navcolors text-nowrap" asp-area="" asp-page="/AddRecipe">Add Recipe</a>
                        </li>
                        <li class="nav-item navcolors">
                            <a class="f-nav-link navcolors text-nowrap" asp-area="" asp-page="/Samples">CSS Samples</a>
                        </li>
                        <li class="nav-item navcolors">
                            <a class="f-nav-link navcolors text-nowrap" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div role="main" class="f-container scrollinside max80 w100 border-bottom">
            @RenderBody()
    </div>

    <footer class="footer footer-bg-container t-lemony border-top z300">
        <div class="footer-bg">
            <div class="container">
                &nbsp;
            </div>
        </div>
        <div class="footer-bg-layer">
            <div class="container">
                &nbsp;
            </div>
        </div>
        <div class="container t-pinky index100 text-center f-h3 fw1000 pop blacktextedge">
            &copy; 2024 - FamilyTools
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>